body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f5e6ff, #ffe6f0);
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* NAVBAR */
  nav {
    background: #c77dff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h2 {
    color: white;
    margin: 0;
  }
  
  nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  }
  
  /* BUTTONS */
  button {
    background: #ff85c0;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  /* CHART */
  canvas {
    max-width: 600px;
    margin: 20px auto;
  }