body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f5e6ff, #ffe6f0);
    margin: 0;
    text-align: center;
  }
  
  /* NAVBAR */
  nav {
    background: #c77dff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  nav h2 {
    color: white;
  }
  
  nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }
  
  /* CARD */
  .card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 700px;
  }
  
  /* BUTTON */
  button {
    background: #ff85c0;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  
  /* LIVE STATUS */
  #liveStatus {
    font-weight: bold;
    margin: 10px;
  }
  
  .live {
    color: red;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
  }
  
  canvas {
    max-width: 600px;
    margin: 20px auto;
  }